<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Live Music</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://space.bilibili.com/386290533">哔哩哔哩</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://blog.dounx.me">博客</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/dounx/live-music">GitHub</a>
      </li>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <% unless user_signed_in? %>
        <li class="nav-item">
          <%= link_to('登陆', new_user_session_path, class: 'nav-link') %>
        </li>
      <% else %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.email %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to('房间', join_rooms_path, class: 'dropdown-item') %>
            <%= link_to('设置', edit_user_registration_path, class: 'dropdown-item') %>
            <div class="dropdown-divider"></div>
            <%= link_to('登出', destroy_user_session_path, method: :delete, class: 'dropdown-item') %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</nav>