<div class="wrapper fadeInDown">
  <div id="formContent">
    <div>
      <h2>设置</h2>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render 'devise/shared/error_messages', resource: resource %>

      <%= f.email_field :email, autofocus: true, autocomplete: 'email', placeholder: '邮箱', class: 'styled-input' %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <%= f.password_field :password, autocomplete: 'new-password', placeholder: '新密码', class: 'styled-input' %>

      <%= f.password_field :password_confirmation, autocomplete: 'new-password', placeholder: '确认新密码', class: 'styled-input' %>

      <div class="field">
        <%= f.password_field :current_password, autocomplete: 'current-password', placeholder: '原密码', class: 'styled-input' %>
      </div>

      <div class="actions">
        <%= f.submit '更新' %>
      </div>
    <% end %>

    <hr/>

    <%= button_to '删除账号', registration_path(resource_name), data: { confirm: '确定？' }, method: :delete %>
  </div>
</div>